1. What are data structures, and why are they important?

-> Data structures are ways of organizing and storing data so that they can be accessed and modified efficiently. They are important because they help:

1. Improve the efficiency of algorithms

2. Reduce complexity

3. Organize data logically (e.g., storing key-value pairs in a dictionary)

2.  Difference between mutable and immutable data types with examples

1 Mutable: Can be changed after creation.
ex Example: list, dict, set

In [1]:
a = [1, 2, 3]
a[0] = 10  # Allowed

2 Immutable: Cannot be changed after creation.

Example: int, str, tuple

In [ ]:
s = "hello"
s[0] = "H"  # Error

3. Main differences between lists and tuples in Python
-> In Python, the main differences between lists and tuples lie in their mutability, syntax, and performance. Lists are mutable, meaning their contents can be changed after creation — you can add, remove, or modify elements. In contrast, tuples are immutable, so once they are created, their contents cannot be altered. This makes tuples more suitable for fixed collections of items. The syntax also differs: lists use square brackets [], while tuples use parentheses (). Additionally, tuples are generally faster and more memory-efficient than lists due to their immutability, which makes them a better choice for storing constant data.

4. How dictionaries store data
-> Dictionaries store key-value pairs using a hash table internally. Each key is hashed to a unique index, allowing for O(1) average-time access.

5. Why use a set instead of a list in Python

->
- Faster lookups (O(1) in sets vs O(n) in lists)

- Automatically removes duplicates

6. What is a string in Python, and how is it different from a list
->
- A string is a sequence of characters.

- Difference: Strings are immutable, lists are mutable.

In [ ]:
s = "hello"
s[0] = "H"  # Error

l = ['h', 'e', 'l']
l[0] = 'H'  # Works

7. How do tuples ensure data integrity in Python

Tuples are immutable, so once created, their content can't be altered. This protects data from accidental modification, making them ideal for constants or fixed configurations.

8. What is a hash table, and how does it relate to dictionaries in Python

A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables, enabling fast lookups, insertions, and deletions.

9. Can lists contain different data types in Python

Yes. Python lists can hold elements of mixed data types.

10. Why are strings immutable in Python

- For performance (shared memory across variables)

- For safety (especially when used as keys in dictionaries)

- Enables hashing

11. Advantages of dictionaries over lists for certain tasks

- Faster lookups with keys (O(1) vs O(n))

- Key-based access instead of relying on indices

- More readable and meaningful code

12. How do sets handle duplicate values in Python

Sets automatically remove duplicates.

13. Scenario where using a tuple is preferable over a list

Use a tuple when:

- You need to store constant data

- The data is used as a dictionary key

- You want to ensure the data can't be modified

14. How does the in keyword work differently for lists and dictionaries

- List: Checks if value exists in the list.

- Dictionary: Checks if key exists in the dictionary.

In [ ]:
3 in [1, 2, 3]        # True
"name" in {"name": "Bob"}  # True
"Bob" in {"name": "Bob"}   # False

15. Can you modify the elements of a tuple? Why or why not?

No. Tuples are immutable. Once created, you cannot change, add, or remove elements.

16. What is a nested dictionary, and give an example of its use case

A nested dictionary is a dictionary inside another dictionary.

In [ ]:
student = {
    "name": "Alice",
    "grades": {
        "math": 90,
        "science": 85
    }
}

- Use case: Storing complex, structured data like records or configurations.

17. Time complexity of accessing elements in a dictionary

- Average case: O(1)

- Worst case: O(n) (rare, due to hash collisions)

18. In what situations are lists preferred over dictionaries

- When order matters

- When accessing by index

- When storing sequential data without a need for key-value pairs

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Historically, dictionaries were unordered.

- Since Python 3.7+, insertion order is preserved, but this is an implementation detail (not a sorting guarantee).

- Retrieval by key is still unordered in terms of logic, i.e., you don’t access by position.

# Practical Questions

1. Create a string with your name and print it

In [6]:
name = "Abhishek yadav"
print(name)

Abhishek yadav

2. Find the length of the string "Hello World"

In [7]:
s = "Hello Wrold"
print(len(s))

11

3. Slice the first 3 characters from the string "Python Programming"

In [11]:
Word = "Python Programming"
print(Word[:3])

Pyt

4. Convert the string "hello" to uppercase

In [12]:
s = "hello"
print(s.upper())

HELLO

5. Replace the word "apple" with "orange" in the string "I like apple"

In [13]:
s = "I like Apple"
print(s.replace("Apple", "Orange"))

I like Orange

6. Create a list with numbers 1 to 5 and print it

In [19]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1, 2, 3, 4]

In [18]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1, 2, 3, 4, 5]

In [20]:
List = [1,2,3,4,5]
List.remove(3)
print(List)

[1, 2, 4, 5]

9. Access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
Chars = ['a', 'b', 'c', 'd']
print(Chars[1])

10. Reverse the list [10, 20, 30, 40, 50]

In [21]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it

In [ ]:
t = (100, 200, 300)
print(t)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [22]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
nums = (10, 20, 5, 15)
print(min(nums))

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [23]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Create a tuple containing three fruits and check if "kiwi" is in it

In [25]:
fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

False

16. Create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
s = {'a', 'b', 'c'}
print(s)

17. Clear all elements from the set {1, 2, 3, 4, 5}

In [26]:
s = {1, 2, 3, 4, 5}
print(s.clear())

None

18. Remove the element 4 from the set {1, 2, 3, 4}

In [32]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [33]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [35]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Create a dictionary with the keys "name", "age", and "city", and print it

In [34]:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [36]:
person = {'name': 'John', 'age': 25}
person['country'] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [37]:
Dic = {'name': 'Alice', 'age': 30}
print(Dic['name'])

Alice

24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [41]:
dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop('age')
print(dic)

{'name': 'Bob', 'city': 'New York'}

25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [42]:
dic = {'name': 'Alice', 'city': 'Paris'}
print('city' in dic)

True

26. Create a list, a tuple, and a dictionary, and print them all

In [43]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print it

In [46]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[35, 36, 52, 76, 89]

28. Create a list with strings and print the element at the third index

In [47]:
words = ["one", "two", "three", "four", "five"]
print(words[3])

four

29. Combine two dictionaries into one and print the result

In [48]:
a = {'x': 1, 'y': 2}
b = {'z': 3, 'w': 4}
combined = {**a, **b}
print(combined)

{'x': 1, 'y': 2, 'z': 3, 'w': 4}

30. Convert a list of strings into a set

In [49]:
words = ["apple", "banana", "apple", "orange"]
word_set = set(words)
print(word_set)

{'banana', 'apple', 'orange'}